*{
    margin: 0;
    padding: 0;
}
.Olutayo{
    background-color: aqua;
    padding-left: 500px;
}
.jerry{
    margin-top: 100px;
}
.Jerry{
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
}
.navbar{
    display: flex;
background-color: pink;
cursor: pointer;
margin: 30px;
}
.navbar1{
    display: flex;
    text-indent: 60px;
    padding-left: 200px;
    list-style-type: none;


}
body{
    background-image: url(./image/bg-desktop-dark.jpg);
}

.container{
    width: 500px;
    height: 500px;
    background-color: blue;
    justify-content: center;
    text-align: center;
}
.container1{
    width: 500px;
    height: 500px;
    background-color: aqua;
    justify-content: center;
    text-align: center;
}
.container2{
    width: 500px;
    height: 500px;
    background-color: yellow;
    justify-content: center;
    text-align: center;
}
.container3{
    width: 500px;
    height: 500px;
    background-color:brown ;
    justify-content: center;
    text-align: center;
}
.submit{
    cursor: pointer;
}
.super{
    display: flex;
    column-gap: 20px;
}